* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f0f0f0;
  font-family: sans-serif;
}

/* Main Content */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 70px);
  width: 100%;
  background: #f0f0f0;
  transition: margin-left 0.3s ease;
  overflow: auto;
  margin-top: 70px;
}

/* Page Styles */
.page {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page.active {
  display: flex;
}
